#logo {
  width: 30px;
}

.navbar-nav {
  margin-left: auto;
}

#navbar {z-index: 999;

}

.navbar-brand {
  color: white;
}

body {
  background-color: black;
}

.nav-link {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  body {
    background-color: black;
    color:white;
}

.card-body {
  background-color:#00ccff;

}